In [1]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/oscarmontero/Google Drive/Ironhack_Data_Analytics_Bootcamp/ironhack_service_account_big_query.json"

In [2]:
from google.cloud import bigquery

In [3]:
client = bigquery.Client()
#nos deja hacer la conexion

In [ ]:
creation_customers='''
CREATE TABLE car_dealership.customers(
customer_id STRING NOT NULL,
name STRING NOT NULL,
phone_number NUMERIC NOT NULL,
email STRING,
adress STRING,
city STRING NOT NULL,
state STRING,
country STRING,
zip_code NUMERIC)
'''

In [ ]:
query_job = client.query(query=creation_customers)
query_job.to_dataframe()

In [4]:
describe_customers='''
SELECT *
FROM `ironhack-data-analytics-265219.car_dealership.customers`
'''

In [5]:
query_job = client.query(query=describe_customers)
query_job.to_dataframe()

,customer_id,name,phone_number,email,adress,city,state,country,zip_code
0,20001,Abraham Lincoln,13059077086,-,120 SW 8th St,Miami,Florida,United States,33130
1,30001,Napoléon Bonaparte,33179754000,-,40 Rue du Colisée,Paris,Île-de-France,France,75008

In [ ]:
#seeding data
insert_query = '''
INSERT INTO `ironhack-data-analytics-265219.car_dealership.customers`(customer_id, name, phone_number, email, adress, city, state, country, zip_code)
VALUES ("10001", "Pablo Picasso", +34636176382, "-", "Paseo de la Chopera, 14", "Madrid", "Madrid", "Spain", 28045),
        ("20001", "Abraham Lincoln", +13059077086, "-", "120 SW 8th St", "Miami", "Florida", "United States", 33130),
        ("30001", "Napoléon Bonaparte", +33179754000, "-", "40 Rue du Colisée", "Paris", "Île-de-France", "France", 75008);
'''
query_job = client.query(query=insert_query)
query_job.result()

In [33]:
update_query = '''
UPDATE `ironhack-data-analytics-265219.car_dealership.salesperson`
SET store = 'Miami'
WHERE name='Bob Frapples';
'''

In [35]:
query_job = client.query(query=update_query)
query_job.to_dataframe()

Empty DataFrame
Columns: []
Index: []

In [31]:
update_query ='''UPDATE `ironhack-data-analytics-265219.car_dealership.customers`
SET email='ppicasso@gmail.com'
WHERE name='Pablo Picasso'
'''

In [36]:
query_job = client.query(query=update_query)
query_job.to_dataframe()

Empty DataFrame
Columns: []
Index: []

In [ ]:
update_query = '''UPDATE `ironhack-data-analytics-265219.car_dealership.customers`
SET email='lincoln@us.gov'
WHERE name='Abraham Lincoln'
'''

In [37]:
query_job = client.query(query=update_query)
query_job.to_dataframe()

Empty DataFrame
Columns: []
Index: []

In [ ]:
query_update='''(UPDATE `ironhack-data-analytics-265219.car_dealership.customers`
SET email='hello@napoleon.me'
WHERE name='Napoleón Bonaparte')
'''

In [38]:
query_job = client.query(query=update_query)
query_job.to_dataframe()

Empty DataFrame
Columns: []
Index: []

In [ ]:
delete_query = '''

DELETE FROM `ironhack-data-analytics-265219.car_dealership.customers` 
WHERE customer_id = '10001'

'''

In [ ]:
query_job = client.query(query=delete_query)
query_job.to_dataframe()